:host{
    display: block;
    max-width: 33.33%;
    padding: 16px 12px;

    cursor: pointer;
    transition: box-shadow 200ms ease-in;
}

:host:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 200ms ease-in;
}

img{
    width: 100%;
}

.order1{
    order:1;
}

.order2{
    order:2;
}





.mediaObject{
    display: flex;
    flex-direction: column;
    //row-gap: 48px;
    word-wrap: break-word;
    padding: 40px 24px;
    height: 100%;
    justify-content: space-between;
    background-color: var(--ax-bg-primary);
    border-radius: 5px;

    & h2{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 16px;
        line-height: 36px;

    }

    & p{
        color: var(--ax-color-accent);
        font-size: 16px;
        line-height: 24px;
    }
}

.possibility-plus{
    display: flex;
    align-items: center;
    margin-top: 20px;
    display: none;
}

.possibility-plus a {
    text-decoration: none;
    color: var(--ax-color-hover);
    font-size: 14px;
    line-height: 20px;
}

.possibility-plus svg{
    width: 18px;
    height: 18px;
    color: var(--ax-color-hover);
}


@media (max-width: 1030px){

    :host{
        display: block;
        max-width: 100%;
        padding: 16px 0;

    }

    .mediaObject{
        flex-direction: row;
        height: auto;
        justify-content: space-between;

        & img{
            width: 265px;
        }

        & .content{
            width: 358px;

            & h2{
                width:100%;
                font-size: 24px;
                line-height: 32px;
            }
        }


    }

    .possibility-plus{
      display: flex;
    
    }



}

@media (max-width: 760px){

    .mediaObject{
        flex-direction: column;

        & img{
            width: 100%;
        }

        & .content{
            width: 100%;

            & h2{
                font-size: 20px;
                line-height: 28px;
            }

            & p{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

}

