:host{
    font-size: 0.625rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

ul, .choice{
    display: flex;
    align-items: center;
}

.symbol{
    position: absolute;
    display: none;
}

.logoItem{
    width: 120px;
    height: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}



.logoItem path{
    fill: var(--ax-color-hover);

}

.ax-title{
    font-size: 14px;
}

.logoMenu{
    font-size: 14px;
}

.choice{
    flex-grow: 1;
}

.left, .right{
    display: flex;
}

.left{
    flex-grow: 1;
}

.left li, .right li{
    display: flex;
    color: var(--ax-color-primary);
    margin: 8px;
    cursor: pointer;

    &:hover{
        color: var(--ax-color-hover);
    }

}

.dropdown{
    width: 18px;
    height: 18px;
    
}

.menu{
    display: flex;
    margin: 0 8px;
    cursor: pointer;
}

.menu svg:first-of-type{

    width: 24px;
    height: 24px;

}

.dropdown use, menu .dropdown{
    fill: rgb(112,122,138);
    color: rgb(112,122,138);
}


.choice{
    align-items: center;
}

.ax-cr{
    position: relative;
}

.ax-cr::after{
    content: "EUR";
    position: absolute;
    font-size: 12px;
    padding-left: 5px;
}

.ax-title h3{
    font-size: 12px;
    line-height: 18px;
}

.right{
    margin-right: 8px;

    & li{
        font-size: 14px;
        line-height: 20px;
    }

}

.logo-theme{
    width: 16px;
    height: 16px;
    color: var(--ax-color-primary);
    margin-right: 20px;
    cursor: pointer;
}

.logo-theme use{
    fill: var(--ax-color-primary);

}

.logo-theme:hover use{
    fill: var(--ax-bg-button);
    color: var(--ax-bg-button);

}



.href{
    background-color: var(--ax-bg-button);
    border-radius: 5px;
    line-height: 20px;
    padding: 6px 12px;
}

.tag{
    position: relative;
    font-size: 10px;
    align-self: center;
    margin-left: 6px;
    background-color: var(--ax-bg-button);
    border-radius: 3px;
    padding: 4px;
}

.tag::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border: 3px solid var(--ax-bg-button);
    display: inline-block;
    transform: rotate(45deg) translate3d(-55%, 0,0);
    z-index: -2;
}

.currency:hover{

    color: var(--ax-bg-button);
    cursor: pointer;
}

.ax-title:hover .dropdown, .menu:hover .dropdown{
    transform: rotate(180deg);
    cursor: pointer;
}