:host{
    font-size: 0.625rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

ul, .choice{
    display: flex;
    align-items: center;
}

.symbol{
    position: absolute;
    display: none;
}

.logoItem{
    width: 120px;
    height: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}



.logoItem path{
    fill: var(--ax-color-hover);

}

.ax-title{
    font-size: 14px;
}

.logoMenu{
    font-size: 14px;
}

.choice{
    flex-grow: 1;
}

.left, .right{
    display: flex;
}

.left{
    flex-grow: 1;
}

.left li, .right li{
    display: flex;
    color: var(--ax-color-primary);
    margin: 8px;
    cursor: pointer;

    &:hover{
        color: var(--ax-color-hover);
    }

}

.dropdown{
    width: 18px;
    height: 18px;
    
}

.menu{
    display: flex;
    margin: 0 8px;
    cursor: pointer;
}

.menu svg:first-of-type{

    width: 24px;
    height: 24px;

}

.dropdown use, menu .dropdown{
    fill: rgb(112,122,138);
    color: rgb(112,122,138);
}


.choice{
    align-items: center;
}

.ax-cr{
    position: relative;
}

.ax-cr::after{
    content: "EUR";
    position: absolute;
    font-size: 12px;
    padding-left: 5px;
}

.ax-title h3{
    font-size: 14px;
    line-height: 20px;
}

.right{
    margin-right: 8px;

    & li{
        font-size: 14px;
        line-height: 20px;
    }

}

.left li, .right li{
    position: relative;
}

.right li:nth-of-type(3):hover .content-detail-overlay{
    display: flex;
}

.logo-theme{
    width: 16px;
    height: 16px;
    color: var(--ax-color-primary);
    margin-right: 20px;
    margin-left: 6px;
    cursor: pointer;

}

.logo-theme use{
    fill: var(--ax-color-primary);

}

.logo-theme:hover use{
    fill: var(--ax-bg-button);
    color: var(--ax-bg-button);

}



.href{
    background-color: var(--ax-bg-button);
    border-radius: 5px;
    line-height: 20px;
    padding: 6px 12px;
}

.tag{
    position: relative;
    font-size: 10px;
    align-self: center;
    margin-left: 6px;
    background-color: var(--ax-bg-button);
    border-radius: 3px;
    padding: 4px;
}

.tag::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border: 3px solid var(--ax-bg-button);
    display: inline-block;
    transform: rotate(45deg) translate3d(-55%, 0,0);
    z-index: -2;
}

.currency{
    font-size: 14px;
    line-height: 20px;
}

.currency:hover{

    color: var(--ax-bg-button);
    cursor: pointer;
}

.ax-title:hover .dropdown, .menu:hover .dropdown{
    transform: rotate(180deg);
    cursor: pointer;
}

.logo-hamburger{
    width: 24px;
    height: 24px;
    display: none;
    margin-right: 20px;
    

    &:hover{
        color: var(--ax-color-hover);
        cursor: pointer;
    }
}

.right-plus{
    display: flex;
    align-items: center;
}

.content-overlay{
    display: flex;
    height: auto;
    position: absolute;
    top: 45px;

    & app-overlay{
        position: static;
        height: auto;
        margin-left: 0;
    }
}

.content-detail-overlay{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;

    & svg{
        width: 140px;
        height: 140px;
    }

    .content-detail-title{
        width: 100%;
        border-bottom: 1px solid rgb(226, 221, 221);

    }

    & div {
        text-align: center;
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 16px;
        color: var(--ax-color-secondary);
    }

    & a{
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        line-height: 18px;
        background-color: var(--ax-color-hover);
        padding: 8px;
        color: var(--ax-color-primary);
        font-weight: 600;
        border-radius: 5px;
        width: 100%;
    }
    
}


@media (max-width:1500px){

    .right, .right-plus{
        display: none;
    }

    .logo-hamburger{
        display: block;
    }


}


@media (max-width: 900px){

    .left{
        display: none;
    }

    .choice{
        flex-grow: initial;
    }

    .menu{
        display: none;
    }

    :host{
        justify-content: space-between;
    }
}