.left li, .right li,
:host, ul, .choice,
.left, .right,
.menu,
.right li:nth-of-type(3):hover .content-detail-overlay,
.right-plus,
.content-overlay {
  display: flex;
}

:host, ul, .choice,
.content-detail-overlay {
  align-items: center;
}

:host {
  height: 5.6rem;
  padding-left: 1.6rem;
}

.symbol,
.ax-cr::after,
.tag::before,
.content-overlay,
.content-detail-overlay {
  position: absolute;
}

.symbol, .logo-hamburger,
.content-detail-overlay {
  display: none;
}

.logoItem, .left li, .right li,
.menu,
.logo-theme,
.currency:hover, .ax-title:hover .dropdown, .menu:hover .dropdown,
.logo-hamburger:hover {
  cursor: pointer;
}

.logoItem {
  width: 12rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.logoItem path {
  fill: var(--ax-color-hover);
}

.ax-title, .logoMenu, .ax-title h3,
.right li,
.currency {
  font-size: 1.4rem;
  line-height: 2rem;
}

.choice, .left {
  flex-grow: 1;
}

.left li, .right li {
  color: var(--ax-color-primary);
  margin: 0.8rem;
}
.left li:hover, .right li:hover {
  color: var(--ax-color-hover);
}

.dropdown {
  width: 1.8rem;
  height: 1.8rem;
}

.menu {
  margin: 0 0.8rem;
}

.menu svg:first-of-type {
  width: 2.4rem;
  height: 2.4rem;
}

.dropdown use, menu .dropdown {
  fill: #707a8a;
  color: #707a8a;
}

.choice {
  align-items: center;
}

.ax-cr,
.left li, .right li,
.tag {
  position: relative;
}

.ax-cr::after {
  content: "EUR";
  font-size: 1.2rem;
  padding-left: 5px;
}

.right {
  margin-right: 0.8rem;
}

.logo-theme {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--ax-color-primary);
  margin-right: 2rem;
  margin-left: 0.6rem;
}

.logo-theme use {
  fill: var(--ax-color-primary);
}

.logo-theme:hover use {
  fill: var(--ax-bg-button);
  color: var(--ax-bg-button);
}

.href, .tag {
  background-color: var(--ax-bg-button);
}

.href {
  border-radius: 5px;
  line-height: 2rem;
  padding: 0.6rem 1.2rem;
}

.tag {
  font-size: 1rem;
  align-self: center;
  margin-left: 6px;
  border-radius: 3px;
  padding: 0 0.4rem;
}

.tag::before {
  content: "";
  top: 50%;
  left: 0;
  border: 3px solid var(--ax-bg-button);
  display: inline-block;
  transform: rotate(45deg) translate3d(-55%, 0, 0);
  z-index: -2;
}

.currency:hover {
  color: var(--ax-bg-button);
}

.ax-title:hover .dropdown, .menu:hover .dropdown {
  transform: rotate(180deg);
}

.logo-hamburger {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 2rem;
}
.logo-hamburger:hover {
  color: var(--ax-color-hover);
}

.right-plus {
  align-items: center;
}

.content-overlay {
  height: auto;
  top: 45px;
}
.content-overlay app-overlay {
  position: static;
  height: auto;
  margin-left: 0;
}

.content-detail-overlay {
  top: 45px;
  flex-direction: column;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.6rem;
}
.content-detail-overlay svg {
  width: 14rem;
  height: 14rem;
}
.content-detail-overlay .content-detail-title {
  width: 100%;
  border-bottom: 1px solid #e2dddd;
}
.content-detail-overlay div {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1.6rem;
  color: var(--ax-color-secondary);
}
.content-detail-overlay a {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background-color: var(--ax-color-hover);
  padding: 0.8rem;
  color: var(--ax-color-primary);
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

@media (max-width: 1500px) {
  .right, .right-plus {
    display: none;
  }

  .logo-hamburger {
    display: block;
  }
}
@media (max-width: 900px) {
  :host {
    justify-content: space-between;
  }

  .left, .menu {
    display: none;
  }

  .choice {
    flex-grow: initial;
  }
}