:host{
    display: flex;
    //width: 100%;
    height: 64px;
    padding: 16px;
    cursor: pointer;
    align-items: center;

    &:hover{
        background-color: var(--ax-bg-primary);
    }


    // & > *{
    //     justify-content: flex-start;
    // }

    & img{
        width: 28px;
        height: 28px;
    }

    & h1{
        font-size: 16px;
        line-height: 24px;
    }

    & .title-part{
        display: flex;
        align-items: center;
    }


}

.title{
    display: flex;
    //align-items: center;
    //width: 120px;
    flex-grow: 13;
    max-width: 30%;

    & h1{
        margin-left: 16px;
        margin-right: 8px;
        font-size: 16px;
    }

    & h2{
        color: var(--ax-color-secondary);
    }

}

.vert{
    color: rgb(3,166,109);
}


.price{
    display: flex;
    flex-grow: 17;
    max-width: 30%;
    justify-content: flex-start;

}

.variation{
    flex-grow: 9;
    justify-content: flex-start;
    color: rgb(207,48,74);

}

.cap{
    flex-grow: 7;
    justify-self: flex-end;
    text-align: right;
}

@media (max-width:760px){
    .cap{
        display: none;
    }

    .title{
        flex-grow: 10;
        max-width: 50%;
    }
    
    .price{
        flex-grow: 5;
        text-align: right;
        justify-content: flex-end;


    }
    
    .variation{
        flex-grow: 5;
        text-align: right;

    }
}

