:host {
  display: flex;
  height: 64px;
  padding: 16px;
  cursor: pointer;
  align-items: center;
}
:host:hover {
  background-color: var(--ax-bg-primary);
}
:host img {
  width: 28px;
  height: 28px;
}
:host h1 {
  font-size: 16px;
  line-height: 24px;
}
:host .title-part {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  flex-grow: 13;
  max-width: 30%;
}
.title h1 {
  margin-left: 16px;
  margin-right: 8px;
  font-size: 16px;
}
.title h2 {
  color: var(--ax-color-secondary);
}

.vert {
  color: #03a66d;
}

.price {
  display: flex;
  flex-grow: 17;
  max-width: 30%;
  justify-content: flex-start;
}

.variation {
  flex-grow: 9;
  justify-content: flex-start;
  color: #cf304a;
}

.cap {
  flex-grow: 7;
  justify-self: flex-end;
  text-align: right;
}

@media (max-width: 760px) {
  .cap {
    display: none;
  }

  .title {
    flex-grow: 10;
    max-width: 50%;
  }

  .price {
    flex-grow: 5;
    text-align: right;
    justify-content: flex-end;
  }

  .variation {
    flex-grow: 5;
    text-align: right;
  }
}