/*
**      1. GENERAL
**      2. MEDIA QUERIES
**           
**
**
**
*/


/***********************************************************************************************
*                                        GENERAL
************************************************************************************************/

:host, 
.title,
.price{

    display: flex;
}

:host{

    height: 64px;
    padding: 16px;
    cursor: pointer;
    align-items: center;

    &:hover{
        background-color: var(--ax-bg-primary);
    }

    & img{
        width: 2.8rem;
        height: 2.8rem;
    }

    & h1{
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    & .title-part{
        display: flex;
        align-items: center;
    }


}

.title{

    flex-grow: 13;
    max-width: 30%;

    & h1{
        margin-left: 1.6rem;
        margin-right: 0.8rem;
        font-size: 1.6rem;
    }

    & h2{
        color: var(--ax-color-secondary);
    }

}

.vert{
    color: rgb(3,166,109);
}


.price, .variation{
    justify-content: flex-start;
}

.price{

    flex-grow: 17;
    max-width: 30%;

}

.variation{
    flex-grow: 9;
    color: rgb(207,48,74);

}

.cap, .price{
    justify-self: flex-end;
}

.cap{
    flex-grow: 7;
    text-align: right;
}

/***********************************************************************************************
*                                        MEDIA QUERIES
************************************************************************************************/

@media (max-width:760px){
    .cap{
        display: none;
    }

    .title{
        flex-grow: 10;
        max-width: 50%;
    }

    .price, .variation{
        text-align: right;
        flex-grow: 5;
    }
    
    .price{

        justify-content: flex-end;


    }
    
}

