:host {
  margin-bottom: 6.4rem;
  padding-right: 2.4rem;
}
:host .content {
  margin-left: 4rem;
}
:host h3 {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
:host p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--ax-color-secondary);
}

.mediaObject {
  display: flex;
  align-items: center;
}

@media (max-width: 1030px) {
  :host {
    width: 100%;
    display: block;
  }
}
@media (max-width: 760px) {
  .mediaObject {
    flex-direction: column;
  }
  .mediaObject h3 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .mediaObject p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  img {
    width: 4.8rem;
    height: 4.8rem;
  }

  .img {
    align-self: flex-start;
  }

  .mediaObject .content {
    margin-left: 0;
    margin-top: 2rem;
  }
}