:host {
  margin-bottom: 64px;
  padding-right: 24px;
}
:host .content {
  margin-left: 40px;
}
:host h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}
:host p {
  font-size: 14px;
  line-height: 24px;
  color: var(--ax-color-secondary);
}

.mediaObject {
  display: flex;
  align-items: center;
}

@media (max-width: 1030px) {
  :host {
    width: 100%;
    display: block;
  }
}
@media (max-width: 760px) {
  .mediaObject {
    flex-direction: column;
  }
  .mediaObject h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .mediaObject p {
    font-size: 14px;
    line-height: 20px;
  }

  img {
    width: 48px;
    height: 48px;
  }

  .img {
    align-self: flex-start;
  }

  .mediaObject .content {
    margin-left: 0;
    margin-top: 20px;
  }
}