/*
**      1. VARIABLES
**      2. GROUP
**      3. GLOBAL
**      4. SECTION
**          A. BANNER
**          B. CRYPTO SECTION
**          C. POSSIBILITY SECTION    
**          D. MEDIAS SECTION
**          E. OPTIONS SECTION
**          F. FOOTER SECTION
**          G. CHAT GROUP
**          H. MISCELLANEOUS
**      12. MEDIA QUERIES
**            A. MEDIA QUERY : MAX WIDTH 1030 
**            B. MEDIA QUERY : MAX WIDTH 760  
**
**
**
**
**
*/
/***********************************************************************************************
*                                            VARIABLES
************************************************************************************************/
.font-12-16 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.font-14-18, .infos-callToAction, .chat-container div, .footer-previous-content li, .advice p, .callToAction a, .footer-crypto a, .headerCrypto h1, .header-section a {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.font-14-20 {
  font-size: 1.4rem;
  line-height: 2rem;
}

.font-16-20, .medias-icon-title h2 {
  font-size: 1.6rem;
  line-height: 2rem;
}

.font-16-24, .medias-icon-title h3, .section-header-group p, .form-input button, .ax-hero-list p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.font-20-24, .footer-previous-content h3, .footer-crypto h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}

.font-24-32 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.font-32-48, .callToAction h2, .ax-hero-list h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.font-40-48, .header-section h2, section h2 {
  font-size: 4rem;
  line-height: 4.8rem;
}

.font-56-64, .ax-hero-title {
  font-size: 5.6rem;
  line-height: 6rem;
}

.font-weight-600, .chat-container div, .callToAction h2, .footer-crypto h3, section h2, .ax-hero-title, .ax-hero-list h2 {
  font-weight: 600;
}

.color-primary, .callToAction h2, .footer-crypto a, .ax-hero-list p, .ax-hero-title, .ax-hero-list h2 {
  color: var(--ax-color-primary);
}

.color-secondary, .footer-previous-content li, .advice p, .medias-icon-title h3, .headerCrypto, .header-section a {
  color: var(--ax-color-secondary);
}

.color-hover, .header-section a:hover {
  color: var(--ax-color-hover);
}

.flex-grow-1, .mainOptions > *, .header-section h2, .ax-banner-start > *, .ax-hero-list > *, .mainMedias > *,
.header-section > *, .left-header-title, .section-header-group,
.infos-header-spec > * {
  flex-grow: 1;
}

.padding-top-80, .ax-banner-start {
  padding-top: 8rem;
}

.square-18-18, .footer-previous-content svg, .ax-right-arrow {
  width: 1.8rem;
  height: 1.8rem;
}

.square-24-24, .devices svg {
  width: 2.4rem;
  height: 2.4rem;
}

.square-32-32 {
  width: 3.2rem;
  height: 3.2rem;
}

.square-48-48, .advice svg {
  width: 4.8rem;
  height: 4.8rem;
}

.max-w-50, .footer-previous-content section.footer-previous-content-part > *, .infos-section-spec, .mainOptions > *, .mainMedias img, .ax-hero-title-start {
  max-width: 50%;
}

/***********************************************************************************************
*                                            GROUP
************************************************************************************************/
.ax-banner-content, .ax-hero-title-start, .ax-banner-start, .ax-section-content,
.header-section, .headerCrypto, .mainMedias, .medias-icons-title, .devices-icons,
.devices-icons li, .advice, .footer-previous-content, .footer-previous-content section,
.left-header-section, .left-header-title, .item-link-group, .item-link-group-responsive,
.mainOptions,
.chat-container {
  display: flex;
}

.devices-icons {
  flex-wrap: wrap;
}

.ax-banner-content, .ax-hero-title-start, .ax-section-content, .devices-icons li, .footer-previous-content section,
.left-header-section {
  flex-direction: column;
}

.footer-previous-content section.footer-previous-content-part {
  flex-direction: row;
}

.ax-banner-start, .cryptoContent, .headerCrypto, .devices-icons, .footer-previous-content,
.left-header-title {
  width: 100%;
}

.ax-banner-content {
  max-width: 1200px;
  align-content: center;
  margin: auto;
  padding: 0 2.4rem;
}

/***********************************************************************************************
*                                            GLOBAL
************************************************************************************************/
:host {
  display: block;
  height: auto;
}

/***********************************************************************************************
*                                            BANNER
************************************************************************************************/
img {
  width: 50%;
}

.ax-hero-item {
  padding: 8rem 0;
}

.ax-hero-list {
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}

.ax-hero-list li {
  width: 25%;
}

.form-input {
  margin-top: 4.8rem;
}
.form-input button {
  background-color: var(--ax-bg-button);
  border: none;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
  margin-left: 16px;
  font-weight: 400;
  color: var(--ax-color-button);
  transition: background-color 200ms ease-in;
}
.form-input button:hover {
  background-color: var(--ax-color-hover);
  transition: background-color 200ms ease-in;
}
.form-input input {
  border: 1px solid #b7bdc6;
  border-radius: 3px;
  width: 282px;
  padding: 0 1.2rem;
}
.form-input input:hover {
  border: 1px solid var(--ax-color-hover);
}
.form-input input::-moz-placeholder {
  color: #c7c7c7;
}
.form-input input:-ms-input-placeholder {
  color: #c7c7c7;
}
.form-input input::placeholder {
  color: #c7c7c7;
}

.ax-right-arrow {
  align-self: flex-start;
}

section {
  height: auto;
}

.ax-section-content {
  max-width: 1200px;
  margin: auto;
  padding: 8rem 2.4rem;
}

.header-section {
  align-items: center;
}
.header-section:hover path {
  fill: var(--ax-color-hover);
}
.header-section path {
  fill: var(--ax-color-secondary);
}

.section-header-group p {
  margin-top: 1.6rem;
  color: var(--ax-color-accent);
}

/***********************************************************************************************
*                                            CRYPTO SECTION
************************************************************************************************/
.headerCrypto {
  height: 6.4rem;
  padding: 1.6rem;
}

.headerCrypto > * {
  align-self: center;
}

.headerCrypto .title, .headerCrypto .price {
  flex-grow: 20;
  max-width: 30%;
}

.headerCrypto .variation, .headerCrypto .cap {
  flex-grow: 7;
}

.headerCrypto .cap {
  text-align: right;
}

.footer-crypto {
  margin-top: 40px;
}
.footer-crypto h3 {
  margin-bottom: 2.4rem;
}
.footer-crypto a {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--ax-bg-button);
  border-radius: 3px;
}
.footer-crypto a:hover {
  background-color: var(--ax-color-hover);
  transition: background-color 200ms ease-in;
}

/***********************************************************************************************
*                                            POSSIBILITY SECTION
************************************************************************************************/
.mainPossibility {
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}

/***********************************************************************************************
*                                            MEDIAS SECTION
************************************************************************************************/
.mainMedias {
  margin-top: 8rem;
}

.mainMedias img {
  align-self: center;
}

.medias-icons {
  padding-left: 8rem;
}

.medias-icons-title {
  padding: 1.6rem;
  border-radius: 3px;
  background-color: var(--ax-bg-primary);
  align-items: center;
  margin-bottom: 4rem;
}

.medias-icon-title {
  margin-left: 1.6rem;
}
.devices-icons {
  padding: 1.6rem;
}

.devices-icons li {
  display: inline-block;
  height: 9.6rem;
  width: 33%;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.devices-icons li:hover {
  background-color: var(--ax-bg-primary);
}
.devices-icons li div {
  margin-top: 1.2rem;
}

/***********************************************************************************************
*                                            OPTIONS SECTION
************************************************************************************************/
.mainOptions {
  margin-top: 4rem;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.mainOptions img {
  max-width: 484px;
  align-self: flex-start;
}

.callToActionContent {
  background-color: var(--ax-bg-primary);
  padding: 8rem 0;
  height: auto;
}

.callToAction {
  max-width: 1200px;
  margin-inline: auto;
  text-align: center;
}
.callToAction h2 {
  margin-bottom: 4rem;
}
.callToAction a {
  padding: 1.2rem 2.4rem;
  background-color: var(--ax-bg-button);
  color: var(--ax-color-accent);
  border-radius: 5px;
}
.callToAction a:hover {
  background-color: var(--ax-color-hover);
  transition: background-color 200ms ease-in;
}

.advice {
  max-width: 1200px;
  margin: auto;
  padding: 1.2rem 0;
}

.advice svg {
  margin-right: 0.8rem;
  align-self: flex-start;
}

/***********************************************************************************************
*                                            FOOTER SECTION
************************************************************************************************/
.footer-previous {
  margin-top: 4.8rem;
}

.footer-previous-content {
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid rgba(189, 187, 187, 0.5);
}
.footer-previous-content h3 {
  color: black;
  margin-bottom: 1.6rem;
  padding-left: 0.8rem;
}
.footer-previous-content ul {
  padding: 0.8rem;
}
.footer-previous-content li {
  margin-bottom: 1.2rem;
}
.footer-previous-content .content-icons-footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-previous-content .content-icons-footer li {
  width: 25%;
  margin-bottom: 2.4rem;
}

.footer-previous-content section {
  padding-bottom: 1.6rem;
}

/***********************************************************************************************
*                                            CHAT GROUP
************************************************************************************************/
.chat-container {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 1.4rem;
  border-radius: 50%;
  background-color: var(--ax-color-hover);
}
.chat-container div {
  display: none;
  margin-left: 0.8rem;
}
.chat-container:hover {
  border-radius: 3rem;
  cursor: pointer;
}
.chat-container:hover div {
  display: block;
}

/***********************************************************************************************
*                                            MISCELLANEOUS
************************************************************************************************/
.header-section img {
  width: 335px;
  margin: 0 135px;
}

.left-header-section {
  align-items: center;
  align-self: flex-start;
}

.left-header-title {
  align-self: flex-start;
}

.section-header-group {
  margin-bottom: 8rem;
}

.infos-callToAction {
  padding: 1.2rem 4.8rem;
  background-color: var(--ax-bg-button);
  color: var(--ax-color-primary) !important;
  border-radius: 5px;
}

.section-header-spec {
  margin-bottom: 4rem;
}

.item-link-group {
  align-items: flex-start;
}

.item-link-group-responsive {
  align-items: center;
}

.item-link-group-responsive, .nav-no-visible, .nav-visible, .no-visible,
.medias-responsive, .infos-responsive, .item-link-group-responsive {
  display: none;
}

.footer-previous-subitem {
  width: 50%;
}

.footer-item-responsive li:hover, .content-icons-footer svg:hover {
  color: var(--ax-color-primary);
  cursor: pointer;
}

.community {
  width: 40%;
}

.move {
  right: 0px;
  transition: right 500ms ease-in;
}

/***********************************************************************************************
*                                            MEDIA QUERY : MAX WIDTH 1030
************************************************************************************************/
@media (max-width: 1030px) {
  .font-32-40, .header-section h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .left-header-title, .ax-banner-start, .mainPossibility,
.mainOptions,
.footer-previous-content section.footer-previous-content-part {
    flex-direction: column;
  }

  .infos-responsive, .medias-responsive {
    display: block;
  }

  .infos-no-responsive, .medias-no-responsive,
.ax-hero-list li:first-of-type {
    display: none;
  }

  .ax-banner-start img {
    order: 1;
    align-self: center;
    max-width: 635px;
  }
  .ax-banner-start .ax-hero-title-start {
    order: 2;
    max-width: 100%;
  }

  .ax-hero-item {
    padding-bottom: 0;
  }

  .ax-hero-list {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-wrap: wrap;
  }
  .ax-hero-list > li {
    width: 45%;
    height: 12rem;
  }

  .left-header-title img {
    align-self: center;
    width: 19rem;
    margin-bottom: 4rem;
  }

  .mainPossibility, .mainOptions,
.community,
.ax-banner-start img {
    width: 100%;
  }

  .mainMedias img, .medias-icons {
    max-width: 50%;
  }

  .mainMedias img {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .medias-icons {
    padding-left: 50px;
    align-self: center;
  }

  .mainOptions .optionContent {
    order: 2;
    width: 100%;
    max-width: 100%;
  }
  .mainOptions img {
    order: 1;
    align-self: center;
    margin-bottom: 40px;
  }

  .moreContent, .footer-previous-content {
    flex-wrap: wrap;
  }

  .footer-previous-content {
    padding: 0 2rem;
  }

  .footer-previous-content-part, .footer-previous-subitem {
    width: 25%;
  }

  .footer-previous-content .content-icons-footer li {
    width: 5%;
  }

  .advice {
    padding: 1rem 2rem;
  }

  .ax-hero-list li:nth-of-type(2) {
    display: inline-block;
    margin-top: 0;
  }

  .left-infos-spec {
    flex-direction: row;
  }

  .item-link-group {
    align-items: flex-start;
  }

  .chat-container {
    right: 4rem;
    bottom: 4rem;
  }

  .footer-previous-content section.footer-previous-content-part > * {
    max-width: 100%;
  }
}
/***********************************************************************************************
*                                            MEDIA QUERY : MAX WIDTH 760
************************************************************************************************/
@media (max-width: 760px) {
  .font-40-48-2, .ax-hero-title {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .font-24-32-2, .ax-hero-list h2, .header-section h2,
.callToActionContent h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .font-12-16-2, .ax-hero-list p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .font-14-20-2, .section-header-group p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .form-input, .form-input input,
.mainCrypto a, .infosContent a,
.callToActionContent a,
.footer-previous-content section,
.footer-previous-title-part,
.medias-icons {
    width: 100%;
  }

  .ax-banner-start img,
.footer-item-responsive,
.nav-no-visible,
.devices-icons li:nth-of-type(1), .devices-icons li:nth-of-type(3), .devices-icons li:nth-of-type(4),
.devices-icons li:nth-of-type(5), .devices-icons li:nth-of-type(6),
.item-link-group,
.cap {
    display: none;
  }

  .form-input, .moreContent,
.footer-previous-content,
.medias-icons,
.mainMedias {
    flex-direction: column;
  }

  .form-input input {
    height: 40px;
    margin-bottom: 20px;
  }

  .form-input button {
    padding-left: 0;
    margin-left: 0;
  }

  .mainCrypto a, .infosContent a {
    text-align: center;
  }

  .mainCrypto a {
    margin-bottom: 4rem;
  }

  .callToActionContent a, .infosContent a {
    display: inline-block;
  }

  .footer-previous-subitem h3 {
    width: 80%;
  }

  .footer-previous-title-part, .medias-icons,
.item-link-group-responsive {
    display: flex;
  }

  .footer-previous-title-part {
    justify-content: space-between;
  }

  .footer-previous-infos-spec {
    padding-bottom: 1.6rem;
  }

  .medias-icons {
    max-width: 100%;
    padding-left: 0px;
    z-index: 1000;
  }

  .mainMedias {
    position: relative;
  }
  .mainMedias img {
    max-width: 100%;
    width: 550px;
  }

  .medias-icons-title {
    order: 2;
  }

  .devices {
    order: 1;
  }

  .devices-icons {
    justify-content: space-around;
  }

  .item-link-group-responsive {
    align-items: center;
  }
  .item-link-group-responsive a {
    color: var(--ax-color-secondary);
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .item-link-group-responsive svg {
    color: var(--ax-color-secondary);
  }

  .chat-container {
    right: 2rem;
  }

  .footer-previous-content .content-icons-footer li {
    width: 20%;
  }

  .header-section img {
    margin: 0 3rem;
  }

  .callToAction {
    padding: 0 2rem;
  }

  .advice svg {
    min-width: 5%;
  }

  .nav-visible {
    display: block;
  }
}