

.font-14-18{
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.font-16-20{
    font-size: 1.6rem;
    line-height: 2rem;
}

.font-16-24{
    font-size: 1.6rem;
    line-height: 2.4rem;
}


.font-20-24{
    font-size: 2rem;
    line-height: 2.4rem;
}

.font-24-32{
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.font-32-48{
    font-size: 3.2rem;
    line-height: 4.8rem;
}

.font-40-48{
    font-size: 4rem;
    line-height: 4.8rem;
}

.font-56-64{
    font-size: 5.6rem;
    line-height: 6rem;
}

.font-weight-600{
    font-weight: 600;
}

.color-primary{
    color: var(--ax-color-primary);
}

.color-secondary{
    color: var(--ax-color-secondary);
}

.color-hover{
    color: var(--ax-color-hover);
}

.flex-grow-1{
    flex-grow: 1;
}

.padding-top-80{
    padding-top: 8rem;
}

.square-18-18{
    width: 1.8rem;
    height: 1.8rem;
}

.square-24-24{
    width: 2.4rem;
    height: 2.4rem;
}

.square-32-32{
    width: 3.2rem;
    height: 3.2rem;
}

.square-48-48{
    width: 4.8rem;
    height: 4.8rem;
}

.max-w-50{
    max-width: 50%;
}




:host{
    display: block;
    height: auto;
}


.ax-hero-title, .ax-hero-list h2{

    @extend .font-weight-600;
    @extend .color-primary;

}



.ax-hero-title{
    @extend .font-56-64;
    // @extend .font-weight-600;
    // @extend .color-primary;
    // font-size: 56px;
    // line-height: 64px;
    // font-weight: 600;
    // color: var(--ax-color-primary);
}

.ax-banner-content, .ax-hero-title-start, .ax-banner-start, .ax-section-content,
.header-section, .headerCrypto, .mainMedias, .medias-icons-title, .devices-icons,
.devices-icons  li, .advice, .footer-previous-content, .footer-previous-content section,
.left-header-section, .left-header-title, .item-link-group, .item-link-group-responsive,
.mainOptions,
.chat-container{
    display: flex;
}

.devices-icons{
    flex-wrap: wrap;
}

.ax-banner-content, .ax-hero-title-start, .ax-section-content, .devices-icons  li, .footer-previous-content section,
.left-header-section{
    flex-direction: column;
}

.footer-previous-content  section.footer-previous-content-part{

    flex-direction: row;
}



.ax-banner-start, .cryptoContent, .headerCrypto, .devices-icons, .footer-previous-content,
.left-header-title {
    width: 100%;
}





.ax-banner-content{
    // display: flex;
    // flex-direction: column;
    max-width: 1200px;
    align-content: center;
    margin: auto;
    padding: 0 2.4rem;
}

.ax-banner-start > * {

    @extend .flex-grow-1;
    // flex-grow: 1;
}

.ax-hero-title-start{
    // display: flex;
    // flex-direction: column;
    @extend .max-w-50;
    // max-width: 50%;
}

.ax-banner-start{

    @extend .padding-top-80;
    // display: flex;
    // width: 100%;
    // padding-top: 80px;
}

img{
    width: 50%;
}



.ax-hero-item{
    padding: 8rem 0;
}

.ax-hero-list{
    column-gap: 8rem;
}

.ax-hero-list h2{

    @extend .font-32-48;
    // @extend .font-weight-600;
    // @extend .color-primary;
    // font-size: 32px;
    // line-height: 48px;
    // font-weight: 600;
    // color: var(--ax-color-primary);
    
}

.ax-hero-list p{

    @extend .font-16-24;
    @extend .color-primary;

        // font-size: 16px;
        // line-height: 24px;
        // color: var(--ax-color-primary);
}

.ax-hero-list li{
    width: 25%;
}



.ax-hero-list > *{

    @extend .flex-grow-1;
    // flex-grow: 1;
}


.form-input{
    margin-top: 4.8rem;

    & button{

        @extend .font-16-24;
        background-color: var(--ax-bg-button);
        border: none;
        padding: 1.2rem 3.2rem;
        border-radius: 3px;
        margin-left: 16px;
        font-weight: 400;
        color: var(--ax-color-button);
        // font-size: 16px;
        // line-height: 24px;
        // cursor: pointer;
        transition: background-color 200ms ease-in;

        &:hover{
            background-color: var(--ax-color-hover);
            transition: background-color 200ms ease-in;
        }

    }

    & input{
        border: 1px solid rgb(183,189,198);
        border-radius: 3px;
        width: 282px;
        padding: 0 1.2rem;

        &:hover{
            border: 1px solid var(--ax-color-hover);
        }


        &::placeholder{
            color: rgb(199, 199, 199);
        }
    }   
}


.ax-right-arrow{

    @extend .square-18-18;
    // width: 18px;
    // height: 18px;
    align-self: flex-start;

}

section{
    // display: flex;
    height: auto;
    
}

section h2{

    @extend .font-40-48;
    @extend .font-weight-600;
    // font-size: 40px;
    // line-height: 48px;
    // font-weight: 600;
}

.ax-section-content{
    // display: flex;
    max-width: 1200px;
    // flex-direction: column;
    margin: auto;
    padding: 8rem 2.4rem;

}

.header-section{
    // display: flex;
   /* margin-bottom: 64px;*/
    align-items: center;

    & h2{

        @extend .flex-grow-1;
        @extend .font-40-48;
        // flex-grow: 1;
        // font-size: 40px;
        // line-height: 48px;
    }



    & a{

        @extend .color-secondary;
        @extend .font-14-18;
        // text-decoration: none;
        // color: var(--ax-color-secondary);
        // font-size: 14px;
        // line-height: 20px;

        &:hover{

            @extend .color-hover;
            // color: var(--ax-color-hover);
       
        }


    }

    &:hover path{

            fill: var(--ax-color-hover);

    }

    & path{
        fill: var(--ax-color-secondary);

    }
}

.section-header-group p{

    @extend .font-16-24;
    margin-top: 1.6rem;
    // font-size: 20px;
    // line-height: 28px;
    color: var(--ax-color-accent);
}

// .cryptoContent{
//     width: 100%;
// }

.headerCrypto{
    // display: flex;
    // width: 100%;
    @extend .color-secondary;
    height: 6.4rem;
    padding: 1.6rem;
    // color: var(--ax-color-secondary);

}

.headerCrypto h1{

    @extend .font-14-18;
    // font-size: 14px;
    // line-height: 18px;
}

.headerCrypto > *{
    align-self: center;
}

.headerCrypto .title, .headerCrypto .price{
    flex-grow: 20;
    max-width: 30%;
}

// .headerCrypto .price{
//     flex-grow: 20;
//     max-width: 30%;
// }



.headerCrypto .variation, .headerCrypto .cap{
    flex-grow: 7;
}

.headerCrypto .cap{
    // flex-grow: 7;
    text-align: right;
}

.footer-crypto{
    margin-top: 40px;

    & h3{

        @extend .font-weight-600;
        @extend .font-20-24;
        // font-size: 20px;
        // font-weight: 600;
        margin-bottom: 2.4rem;

    }

    & a{

        @extend .color-primary;
        @extend .font-14-18;
        display: inline-block;
        // text-decoration: none;
        padding: 1.2rem 3.2rem;
        background-color: var(--ax-bg-button);
        border-radius: 3px;
        // font-size: 14px;
        // line-height: 18px;
        // color: var(--ax-color-primary);

        &:hover{
            background-color: var(--ax-color-hover);
            transition: background-color 200ms ease-in;
        }

    }

    


}



.mainPossibility{
    column-gap: 2.4rem;
}

.devices svg{

    @extend .square-24-24;
    // width: 24px;
    // height: 24px;
}

.mainMedias{
    // display: flex;
    margin-top: 8rem;
}

.mainMedias > *{

    @extend .flex-grow-1;
    // flex-grow: 1;
}

.mainMedias img{

    @extend .max-w-50;
    // max-width: 50%;
    align-self: center;
}

.medias-icons{
    padding-left: 8rem;
}

.medias-icons-title{
    // display: flex;
    padding: 1.6rem;
    border-radius: 3px;
    background-color: var(--ax-bg-primary);
    align-items: center;
    margin-bottom: 4rem;

}

.medias-icon-title{
    margin-left: 1.6rem;


    & h3{

        @extend .color-secondary;
        @extend .font-16-24;
        // color: var(--ax-color-secondary);
        // font-size: 16px;
        // line-height: 24px;
    }

    & h2{

        @extend .font-16-20;
        // font-size: 16px;
    }
}

.devices-icons{
    // display: flex;
    // flex-wrap: wrap;
    // width: 100%;
    padding: 1.6rem;
}



.devices-icons  li{
    display: inline-block;
    height: 9.6rem;
    width: 33%;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;

    &:hover{
        background-color: var(--ax-bg-primary);
    }

    & div{
        margin-top: 1.2rem;
    }
}


.mainOptions{
    margin-top: 4rem;
    // display: flex;
    column-gap: 4rem;


    & > * {

        @extend .flex-grow-1;
        @extend .max-w-50;
        // flex-grow: 1;
        // max-width: 50%;
    }

    & img{
        max-width: 484px;
        align-self: flex-start;
    }
}

.callToActionContent{

    background-color: var(--ax-bg-primary);
    padding: 8rem 0;
    // padding-bottom: 80px;
    height: auto;
}

.callToAction{
    max-width: 1200px;
    margin-inline: auto;
    // margin-right: auto;
    text-align: center;

    & h2{

        @extend .font-32-48;
        @extend .font-weight-600;
        @extend .color-primary;
        // font-size: 32px;
        // font-weight: 600;
        // color: var(--ax-color-primary);
        margin-bottom: 4rem;
    }

    & a{

        @extend .font-14-18;
        // text-decoration: none;
        padding: 1.2rem 2.4rem;
        background-color: var(--ax-bg-button);
        color: var(--ax-color-accent);
        // font-size: 14px;
        border-radius: 5px;

        &:hover{
            background-color: var(--ax-color-hover);
            transition: background-color 200ms ease-in;
        }
    }
}

.advice{
    // display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 1.2rem 0;
}
.advice svg{

    @extend .square-48-48;
    // width: 48px;
    // height: 48px;
    margin-right: 0.8rem;
    align-self: flex-start;

}



.advice p {

    @extend .font-14-18;
    @extend .color-secondary;
    // font-size: 14px;
    // color: var(--ax-color-secondary);
    // line-height: 18px;
}

.footer-previous{
    margin-top: 4.8rem;
}

.footer-previous-content{
    // width: 100%;
    max-width: 1200px;
    margin: auto;
    // display: flex;
    border-bottom: 1px solid rgba(189, 187, 187,0.5);

    & svg{

        @extend .square-18-18;
        // width: 18px;
        // height: 18px;
    }

    & h3{

        @extend .font-20-24;
        // font-size: 14px;
        // line-height: 24px;
        color: rgb(0,0,0);
        margin-bottom: 1.6rem;
        padding-left: 0.8rem;
    }

    & ul{
        padding: 0.8rem;
    }

    & li{

        @extend .font-14-18;
        @extend .color-secondary;
        // font-size: 14px;
        // line-height: 16px;
        // color: var(--ax-color-secondary);
        margin-bottom: 1.2rem;
    }

    & .content-icons-footer{
        display: flex;
        flex-wrap: wrap;

        & li{
            width: 25%;
            margin-bottom: 2.4rem;
        }
    }
}

.footer-previous-content section{
    // display: flex;
    // flex-direction: column;
    padding-bottom: 1.6rem;
}

.chat-container{

    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1.4rem;
    border-radius: 50%;
    background-color: var(--ax-color-hover);
    // display: flex;

  
    & div{

        @extend .font-14-18;
        @extend .font-weight-600;
        display: none;
        // font-size: 14px;
        // line-height: 20px;
        margin-left: 0.8rem;
        // font-weight: 600;
    }

    &:hover{
        border-radius: 3rem;
        cursor: pointer;
    }


    &:hover div{
        display: block;
    }

}

.header-section > * {

    @extend .flex-grow-1;
    // flex-grow: 1;
}

.header-section img 
{
    width: 335px;
    margin: 0 135px;



}

.left-header-section{
    // display: flex;
    // flex-direction: column;
    align-items: center;
    align-self: flex-start;

     
}

.left-header-title{
    // display: flex;

    @extend .flex-grow-1;
    
    // width: 100%;
    // flex-grow: 1;
    align-self: flex-start;
    // align-items: center;
}

.section-header-group{

    @extend .flex-grow-1;
    margin-bottom: 8rem;

    // flex-grow: 1;
}

.infos-section-spec{

    @extend .max-w-50;
    // max-width: 50%;
}

.infos-header-spec > *{
    @extend .flex-grow-1;
    // flex: 1;
}

.infos-callToAction{

    @extend .font-14-18;
    padding: 1.2rem 4.8rem;
    background-color: var(--ax-bg-button);
    // font-size: 14px;
    // line-height: 20px;
    color: var(--ax-color-primary) !important;
    border-radius: 5px;
}

.section-header-spec{
    margin-bottom: 4rem;
}

// .infos-responsive{
//     display: none;
// }

.item-link-group{
    // display: flex;
    align-items: flex-start;
}

.item-link-group-responsive{
    // display: flex;
    align-items: center;
    // display: none;
}

.item-link-group-responsive, .nav-no-visible, .nav-visible, .no-visible,
.medias-responsive, .infos-responsive, .item-link-group-responsive{
    display: none;
}

// .nav-no-visible{
//     display: none;
// }

// .nav-visible{
//     display: none;
// }


// .no-visible{
//     display: none;
// }

// .medias-responsive{
//     display: none;
// }

.footer-previous-content  section.footer-previous-content-part{
    // flex-direction: row;

    & > *{

        @extend .max-w-50;
        // max-width: 50%;
    }
}

.footer-previous-subitem{
    width: 50%;
}

.community{
    width: 40%;
}

.move{

    right: 0px; 
    transition: right 500ms ease-in;

}


@media (max-width:1030px){


    .left-header-title,  .ax-banner-start, .mainPossibility,
    .mainOptions{
        flex-direction: column;
    }

    .ax-banner-start{
        // flex-direction: column;

        & img{
            order:1;
            align-self: center;
            // width: 100%;
            max-width: 635px;
        }

        & .ax-hero-title-start{
            order:2;
            max-width: 100%;
        }

    
    }

    .ax-hero-item{
        padding-bottom: 0;
    }

    .ax-hero-list{
        column-gap: 0;
        flex-wrap: wrap;

        & > li {
            width: 45%;
            height: 12rem;

        }



    }

    .infos-responsive{
        display: block;
    }

    .infos-no-responsive, .medias-no-responsive,
    .ax-hero-list li:first-of-type{
        display: none;
    }

    .left-header-title{
        // flex-direction: column;

        & img{
            align-self: center;
            width: 19rem;
            margin-bottom: 4rem;
        }
    }

    .mainPossibility, .mainOptions,
    .community,
    .ax-banner-start img{
        // flex-direction: column;
        width: 100%;


   }



    // .medias-no-responsive{
    //     display: none;
    // }

    .mainMedias img, .medias-icons{
        max-width: 50%;
    }



    .mainMedias img{
        // max-width: 50%;
        padding-left: 7rem;
        padding-right: 7rem;

    }

    .medias-responsive{
        display: block;

    }

    .medias-icons{
        // max-width: 50%;
        padding-left: 50px;
        align-self: center;
    }

    .mainOptions{
        // flex-direction: column;
        // width: 100%;


        & .optionContent{
            order: 2;
            width: 100%;
            max-width: 100%;
        }

        & img{
            order: 1;
            align-self: center;
            margin-bottom: 40px;
        }

    }




    .moreContent, .footer-previous-content{
        flex-wrap: wrap;
    }

    .footer-previous-content{
        // flex-wrap: wrap;
        padding: 0 2rem;
    }

    .footer-previous-content-part, .footer-previous-subitem{
        width: 25%;
    }

     .footer-previous-content .content-icons-footer li{
        width: 5%;
    }

    .advice{
        padding: 1rem 2rem;
    }

    .header-section h2{

        // @extend .font-32-48;

        // @extend .font-32-48;
        font-size: 3.2rem;
        line-height: 4rem;
    }

    // .ax-hero-list li:first-of-type{
    //     display: none;
    // }

    .ax-hero-list li:nth-of-type(2){
        display: inline-block;
        margin-top: 0;
    }

    // .ax-hero-list li:nth-of-type(2) {
    //     margin-top: 0;
    // }

    .left-infos-spec{
        flex-direction: row;
    }

    .item-link-group{
        align-items: flex-start;
    }

    .chat-container{
        right: 4rem;
        bottom: 4rem;
    }

    .footer-previous-content  section.footer-previous-content-part{
        
        flex-direction: column;
    }

    .footer-previous-content section.footer-previous-content-part  > *{
        max-width: 100%;
    }

    // .community{
    //     width: 100%;
    // }




}

@media (max-width: 760px){

    .form-input, .form-input input,
    .mainCrypto a, .infosContent a,
    .callToActionContent a,
    .footer-previous-content section,
    .footer-previous-title-part,
    .medias-icons{
        width: 100%;
    }


    .ax-banner-start img,
    .footer-item-responsive,
    .nav-no-visible{
        display: none;
    }

    .ax-hero-title{
        font-size: 4rem;
        line-height: 4.8rem;
    }

    .form-input, .moreContent,
    .footer-previous-content,
    .medias-icons,
    .mainMedias{
        flex-direction: column;
        // width: 100%;
    }

    .form-input input{
        // width: 100%;
        height: 40px;
        margin-bottom: 20px;
    }

    .form-input button{
        padding-left: 0;
        margin-left: 0;
    }

    .ax-hero-list h2, .header-section h2,
    .callToActionContent h2{
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .ax-hero-list p{
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    // .header-section h2{
    //     font-size: 2.4rem;
    //     line-height: 3.2rem;
    // }

    .section-header-group p{
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .mainCrypto a, .infosContent a{
        text-align: center;
    }

    .mainCrypto a{
        // width: 100%;
        text-align: center;
        margin-bottom: 4rem;
    }

    .callToActionContent a, .infosContent a{
        display: inline-block;
    }

    // .infosContent a{

    //     // width: 100%;
    //     text-align: center;
    // }

    // .moreContent{
    //     flex-direction: column;
    // }

    // .callToActionContent h2{
    //     font-size: 24px;
    //     line-height: 32px;
    // }

    // .callToActionContent a{
    //     display: inline-block;
    //     // width: 100%;
    //     // margin: 20px 20px;
    // }

    // .footer-item-responsive{
    //     display: none;
    // }

    // .footer-previous-content{
    //     // flex-direction: column;

    //     & section{
    //         width: 100%;
    //     }
    // }

    


    .footer-previous-subitem h3{
        width: 80%;
    }

    .footer-previous-title-part, .medias-icons,
    .item-link-group-responsive{
        display: flex;
    }


    // .nav-no-visible{
    //     display: none;

    // }
    .footer-previous-title-part{
        // width: 100%;
        // display: flex;
        justify-content: space-between;
    }

    .footer-previous-infos-spec{
        padding-bottom: 1.6rem;  
    }

    .medias-icons{
        // display: flex;
        // flex-direction: column;
        max-width: 100%;
        // width: 100%;
        padding-left: 0px;
        z-index: 1000;

    }

    .mainMedias{
        // flex-direction: column;
        position: relative;

        & img{
            max-width: 100%;
            width: 550px;


        }
    }

    .medias-icons-title{
        order: 2;
    }

    .devices{
        order: 1;
    }

    .devices-icons{
        justify-content: space-around;
    }

    .devices-icons li:nth-of-type(1), .devices-icons li:nth-of-type(3), .devices-icons li:nth-of-type(4),
    .devices-icons li:nth-of-type(5), .devices-icons li:nth-of-type(6),
    .item-link-group,
    .cap{
        display: none;
    }
    // .devices-icons li:nth-of-type(3){
    //     display: none;
    // }
    // .devices-icons li:nth-of-type(4){
    //     display: none;
    // }
    // .devices-icons li:nth-of-type(5){
    //     display: none;
    // }
    // .devices-icons li:nth-of-type(6){
    //     display: none;
    // }

    .item-link-group-responsive{
        // display: block;
        // display: flex;
        align-items: center;

        & a{
            // text-decoration: none;
            color: var(--ax-color-secondary);
            font-size: 1.4rem;
            line-height: 2rem;
        }

        & svg{
            color: var(--ax-color-secondary);
        }
    }

    // .item-link-group{
    //     display: none;
    // }

    .chat-container{
        right: 2rem;

    }

    // .cap{
    //     display: none;
    // }

    .footer-previous-content  .content-icons-footer li{
        width: 20%;
    }

    .header-section img {
        margin: 0 3rem;
    }

    .callToAction{
        padding: 0 2rem;
    }
    .advice svg{
        min-width: 5%;
    }

    .nav-visible{
        display: block;
    }

}













































