/*
**      1. GENERAL
**      2. MEDIA QUERIES
**           
**
**
**
*/




/***********************************************************************************************
*                                       GENERAL
************************************************************************************************/


:host{
    display: block;
    padding: 2.4rem;


    & svg{
        width: 1.8rem;
        height: 1.8rem;
        color: var(--ax-color-href);
        margin-left: 0.8rem;
    }

    & img{
        width: 6.4rem;
        height: 6.4rem;
    }

    & a {
        color: var(--ax-color-href);
        font-size: 1.4rem;
        line-height: 2rem;
    }

    & h3{
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 600;
    }

    & p {
        margin-top: 0.8rem;
        color: var(--ax-color-secondary);
        font-size: 1.4rem;
        line-height: 2rem;
    }

    & .content{
        margin-left: 2.4rem;
    }

    & .link{
        display: flex;
        align-items: center;
        margin-top: 1.6rem;
    }
}


.mediaObject{
    display: flex;
}



/***********************************************************************************************
*                                       MEDIA QUERIES
************************************************************************************************/

@media (max-width: 1030px){

    :host{
        width: 50%;
    }

}

@media (max-width: 760px){

    :host{
        width: 100%;
    }

    .mediaObject{
        flex-direction: column;

        & .content{
            margin-left: 0;
        }
    }
    
}