/*
**      1. GENERAL
**           
**
**
**
*/
/***********************************************************************************************
*                                       GENERAL
************************************************************************************************/
:host {
  padding: 32px 16px 16px 16px;
  background-color: white;
  overflow: hidden;
}

:host:hover {
  background-color: var(--ax-bg-primary);
}

svg {
  width: 3.2rem;
  height: 3.2rem;
}

.content,
.main-content, .overlay-title {
  display: flex;
}

.content, .overlay-title {
  align-items: center;
}

h2,
p,
:host {
  width: auto;
}

h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--ax-color-primary);
}

p {
  font-size: 12px;
  line-height: 13.8px;
  color: var(--ax-color-secondary);
  min-width: 30rem;
  margin-top: 0.4rem;
}

.main-content {
  flex-direction: column;
  padding-left: 1.6rem;
}

.arrow svg {
  width: 2.4rem;
  height: 2.4rem;
}

.arrow {
  display: none;
}

span {
  margin-left: 0.8rem;
  background-color: var(--ax-color-hover);
  color: var(--ax-color-primary);
  padding: 0.4rem;
  border-radius: 0.3rem;
  position: relative;
}

span::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 5%;
  transform: translate3d(-75%, 0, 0) rotate(45deg);
  border: 3px solid var(--ax-color-hover);
}