<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="close-f" (click)="openClose()" ><use xlink:href="#close-f"></use></svg>
<div class="logIn">

    <div class="log">Connexion</div>
    <div class="connect">S'inscrire</div>


</div>

<div class="content-overlay2">

    <div class="item-overlay2">

        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#crypto-f"></use></svg>
            </div>
            <div class="title">
                Acheter des cryptos
            </div>
            <div class="more">
                EUR
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow-r css-1iqc4zd"><use xlink:href="#icon-h-dropdown-arrow"></use></svg>
       
    </div>
    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#trade-f"></use></svg>
            </div>
            <div class="title">
            Trader
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow-r css-1iqc4zd"><use xlink:href="#icon-h-dropdown-arrow"></use></svg>
       
    </div>
    <div class="item-overlay2">
        <div class="img">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#nft-marketplace-f"></use></svg>
        </div>
        <div class="title">
            NFT
        </div>
        <div class="more">
            New
        </div>
      
    </div>
    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#futures-f"></use></svg>
            </div>
            <div class="title">
            Dérivés
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow-r css-1iqc4zd"><use xlink:href="#icon-h-dropdown-arrow"></use></svg>
       
    </div>
    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#chart-donut-f"></use></svg>
            </div>
            <div class="title">
            Finance
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow-r css-1iqc4zd"><use xlink:href="#icon-h-dropdown-arrow"></use></svg>
       
    </div>
    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#piggy-bank-f"></use></svg>
            </div>
            <div class="title">
            Gagnez des cryptos
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow-r css-1iqc4zd"><use xlink:href="#icon-h-dropdown-arrow"></use></svg>
       
    </div>
    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#icon-h-top-menu-s"></use></svg>
            </div>
            <div class="title">
            Produits
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow-r css-1iqc4zd"><use xlink:href="#icon-h-dropdown-arrow"></use></svg>
       
    </div>


    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#logo"></use></svg>
            </div>
            <div class="title">
            Thème
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="mode-light"><use xlink:href="#mode-light"></use></svg>
       
    </div>

    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#app-download-f"></use></svg>
            </div>
            <div class="title">
            Téléchargements
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow-r css-1iqc4zd"><use xlink:href="#icon-h-dropdown-arrow"></use></svg>
       
    </div>

    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#language-f"></use></svg>
            </div>
            <div class="title">
            Français (International)
            </div>
        </div>
    </div>

    <div class="item-overlay2">
        <div class="content-item-part">
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-mykl4n"><use xlink:href="#earn-s24"></use></svg>
            </div>
            <div class="title">
            EUR
            </div>
        </div>
    </div>


</div>
